{% extends "shop/base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Продукты{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Категории</h3>
        <div align="center">
            {% comment %} <ul> {% endcomment %}
                {% comment %} <li {% if not category %}class="selected"{% endif %}> {% endcomment %}
                    <p {% if not category %}class="selected"{% endif %} >
                    <a href="{% url "shop:product_list" %}">Все</a>
                </p>
                {% comment %} </li> {% endcomment %}
                {% for c in categories %}
                    <p {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a> </p>
                    {% comment %} </li> {% endcomment %}
                {% endfor %}
            {% comment %} </ul> {% endcomment %}
        </div>
    </div>

    <div align="center">
        <div id="main" class="product-list">
            <h1>{% if category %}{{ category.name }}{% else %}Продукты{% endif %}</h1>
            {% for product in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        {% thumbnail product.image "160x100" crop="center" upscale=True as im %}
                        <img src="{% if product.image %}{{ im.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        {% endthumbnail %}
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                    <p>  {{ product.description}} </p>
                    {{ product.price }} &#8381
                    
                    {{ product.weight }}
                    {{ product.dopolnenie.dop1 }}

                    {% for item in product.dopolnenie.all %}
                    <p>{{ item }}</p>
                {% endfor %}

                    {% comment %} {% for dop in dopolnenies %}
                    <p>Дополнение1: {{ dop.name }}</p>
                    {% endfor %} {% endcomment %}
                    <p>{% if product.dopolnenie %}
                        <p>Дополнение: {{ product.dopolnenie }}</p>
                      {% endif %}</p>
                    
                    
                   
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
            
                        <input type="submit" value="Добавить">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}