{% extends "shop/base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}

<div class="container">
    <div id="app" style="--main-font:Arial; --main-color:#B21E28; --footer-color:#B21E28; padding-bottom: 400px;" class="palmira">
<div class="wrapper">

    <h1>Ваш заказ</h1>
    <table class="cart">
        <thead>
        <tr>
            <th></th>
            <th>Блюдо</th>
            <th>Кол-во</th>
            <th> </th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td class="product-detail">
                        
                            {% thumbnail product.image "160x100" crop="center" upscale=True as im %}
                            <img src="{% if product.image %}{{ im.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            {% endthumbnail %}
                         
                    </td>
                    <td>&ensp;{{ product.name }}&ensp; </td>
                    <td>&ensp; {{ item.quantity }}&ensp; </td>
                    <td><a href="{% url "cart:cart_remove" product.id%}"> Удалить </a></td>
                    <td class="num">&ensp; {{ item.price }}&#8381;&ensp; </td>
                    <td class="num">&ensp; {{ item.total_price }}&#8381;&ensp; </td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <th>Всего</th>
            <td colspan="4"></td>
            <th class="num">&ensp; {{ cart.get_total_price }} &#8381;</th>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Продожить</a>
        <a href="{% url "orders:order_create" %}" class="button">
            Checkout
        </a>
    </p>
</div>
</div>
</div>

{% endblock %}